{% extends 'base.html.twig' %}

{% block title %}Edit Comment{% endblock %}

{% block body %}
    <h1>Edit Comment</h1>

    {{ include('comment/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="container">
        <div class="row justify-content-center">
            <a class="btn btn-outline-dark" href="{{ path('comment_index') }}">Back to list</a>
        </div>
    </div>

    {{ include('comment/_delete_form.html.twig') }}

{% endblock %}
