{% extends 'base.html.twig' %}

{% block title %}New Comment{% endblock %}

{% block body %}
    <h1>Create new Comment</h1>

    {{ include('comment/_form.html.twig') }}

    <a class="btn btn-outline-dark" href="{{ path('comment_index') }}">Back to list</a>
{% endblock %}
