{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
    <h1>Edit Category</h1>

    {{ include('category/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="container">
        <div class="row justify-content-center">
            <a class="btn btn-outline-dark" href="{{ path('category_index') }}">Back to list</a>
        </div>
    </div>

    {{ include('category/_delete_form.html.twig') }}

{% endblock %}
