{% extends 'base.html.twig' %}


{% block title %}Edit Episode{% endblock %}

{% block body %}
    <h1>Edit Episode</h1>

    {{ include('episode/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="container">
        <div class="row justify-content-center">
            <a class="btn btn-outline-dark" href="{{ path('episode_index') }}">Back to list</a>
        </div>
    </div>

    {{ include('episode/_delete_form.html.twig') }}

{% endblock %}
