{% extends 'base.html.twig' %}

{% block title %}New Episode{% endblock %}

{% block body %}
    <h1>Create new Episode</h1>

    {{ include('episode/_form.html.twig') }}

    <a class="btn btn-outline-dark" class="btn btn-outline-success" href="{{ path('episode_index') }}">Back to list</a>
{% endblock %}
