{% extends 'base.html.twig' %}

{% block title %}Personnal Space{% endblock %}

{% block body %}
    <h1 class="text-center">Welcome to your personnal space</h1>

    <div class="container justify-content-between">
        <div class="row-cols-md-3">
            <a class="nav-link fas fa-edit btn btn-outline-success" href="{{ path('category_index') }}">Add Category</a>
            <a class="nav-link fas fa-edit btn btn-outline-success" href="{{ path('program_index') }}">Add Program</a>
            <a class="nav-link fas fa-edit btn btn-outline-success" href="{{ path('season_index') }}">Add Season</a>
            <a class="nav-link fas fa-edit btn btn-outline-success" href="{{ path('episode_index') }}">Add Episode</a>
        </div>
    </div>
{% endblock %}
