{% extends 'base.html.twig' %}



{% block title %}Edit Program{% endblock %}

{% block body %}
    <h1>Edit Program</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-4 image-container mb-3">
                <img id="img" src="" alt="image non disponible">
            </div>


            <div class="col-md-8">
                {{ include('program/_form.html.twig', {'button_label': 'Update'}) }}

                <a href="{{ path('program_index') }}">back to list</a>

                {{ include('program/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
