{% extends 'base.html.twig' %}


{% block title %}New Program{% endblock %}

{% block body %}
    <h1 class="text-center">Create new Program</h1>
    <div class="container-fluid">
        {{ include('program/_form.html.twig') }}
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <a class="btn btn-outline-dark m-5" href="{{ path('program_index') }}">Back to list</a>
        </div>
    </div>
{% endblock %}
