{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
    <h1 class="text-center">Add new category : </h1>
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        <button class="btn btn-success">Add Category</button>
        {{ form_end(form) }}

        <p>Liste des Categories :</p>
        {% for catego in category %}
            <a href="">{{ catego.name }}</a>
        {% endfor %}


    </div>
{% endblock %}
