{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <main class="container">
        <h1 class="text-center">Add new category : </h1>

        {{ form_start(form) }}
        {{ form_row(form.name) }}
        <button class="btn btn-success row-cols-2">Add Category</button>
        {{ form_end(form) }}
    </main>

    <h1 class="text-center">List of categories :</h1>
    <div class="container">
        <div class="row justify-content-between p-5">
            {% for catego in category %}
                <a class="btn btn-success" href="">{{ catego.name }}</a>
            {% endfor %}
        </div>
    </div>

{% endblock %}
