{% extends 'base.html.twig' %}

{% block title %}
    Category
{% endblock %}


{% block body %}
    <p>{{ category.name }} has been added to the list of Categories :</p>

    <a class="btn btn-success m-5" href="{{ path('wild_home') }}">
        Back Home
    </a>
    <a class="btn btn-success m-5" href="{{ path('index_add_category') }}">
        Back
    </a>

{% endblock %}
