{% extends 'base.html.twig' %}

<strong>Acteur :</strong>
<ul>
    {% for actor in program.actors %}
        <li><a href="{{ path('') }}"></a> {{ actor.name }} </li>
    {% else %}
        <li>Aucun acteur pour cette série</li>
    {% endfor %}
</ul>

