{% extends 'base.html.twig' %}


{% block title %}New Actor{% endblock %}

{% block body %}
    <h1>Create new Actor</h1>

    {{ include('actor/_form.html.twig') }}

    <div class="container">
        <div class="row p-5 justify-content-center ">
            <a class="btn btn-outline-dark" href="{{ path('actor_index') }}">Back to list</a>
        </div>
    </div>
{% endblock %}
