@import "~bootstrap/scss/bootstrap";
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import url('https://fonts.googleapis.com/css2?family=Sirin+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Montaga&display=swap');

//Colors
$primary-color: #5a5a51;
$secondary-color: rgba(20, 54, 146, 0.50);
$light: #fff;
$dark: #000;

//Font size
$principal-font: 5rem;
$link-size: 1.5rem;

//Font type
$title-font: 'Kanit', sans-serif;
$text-font: 'Montaga', serif;

$box-shadow: 0 0 3px;
