@import "~bootstrap/scss/bootstrap";
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import url('https://fonts.googleapis.com/css2?family=Sirin+Stencil&display=swap');


$primary-color: #ceb972;
$secondary-color: rgba(109, 134, 108, 0.7);
$principal-font: 5rem;
$a-link: black;
$link-size: 1.5rem;
