@import "~bootstrap/scss/bootstrap";
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';

body {
    background-color: white;
}

.fa-tv {
    margin: 50px;
}

$primary = #CEB972;
$secondary = #6D866C;
$tertiary = #

.navbar {
    background-color: blue;
}

.footer {
    background-color: green;
}