@import "vars";

.fa-tv {
    margin: 0;
}

.nav {
    background-color: $primary-color;
    padding: 15px;
}

h1 {
    font-family: 'Sirin Stencil', cursive;
    font-size: $principal-font;
}

a {
    color: $a-link;
    text-decoration: none;
    font-size: $link-size;
}

a:hover {
    text-decoration: none;
    color: $secondary-color;
    border-radius: 5px;
}

.card-body{
    background-color: $secondary-color;
}

.card-global  {
    border-radius: 50px;
}

.btn{
    background-color: $primary-color;
}

.logo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
}

.footer{
    background-color: $primary-color;
}

.welcome{
    background-color: $secondary-color;
    margin: 20px;
    padding: 20px;
}