@import "vars";
@import "pagination";
@import "not_found";

img {
    width: 100%;
}

main{
    min-height: 100vh;
}

.sidebar, .nav ul{
    background-color: $secondary-color ;
}

.btn-guide{
    display: flex;
    justify-content: center;
}

.guide-menu{
    background-color: $secondary-color;
}

html{
    height: 100%;
}

body{
    background-color: $secondary-color;
    display:flex;
    flex-direction:column;
    min-height: 100%;
}

.fa-tv {
    margin: 0;
}

.nav {
    padding: 15px;
}

.poster{
    border-radius: 5px;
}

h1 {
    font-family: $title-font;
    font-size: $principal-font;
}

a {
    text-decoration: none;
    font-size: $link-size;
    font-family: $text-font;
    color: $light;
}


nav .nav-link{
    margin-left: 5px;
    margin-right: 5px;
    overflow: hidden;
    position: relative;
    transition: all ease-in-out .3s;
    z-index: 10;
    &::before {
        position: absolute;
        content: '';
        display: inline-block;
        background-color: $light;
        top: 100%;
        width: 200px;
        height: 100px;
        transition: all ease-in-out .1s;
        z-index: -1;
        right: 0;
    }
}

.nav-item:hover .nav-link::before{
    top: 0;
}

.card-body{
    background-color: $secondary-color;
}

.card-global  {
    border-radius: 50px;
}

.btn{
    background-color: $light;
}

.logo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
}

.welcome{
    background-color: $secondary-color;
    margin: 20px;
    padding: 20px;
}

.navbar {
    background-color: $secondary-color;
    height: 75px;
}

.footer{
    bottom: 0;
    margin-top: auto;
}

.nav-logo{
    width: 70px;
    height: 70px;
}

.logo-footer{
    width: 40px;
    height: 40px;
}

.login{
    border-radius: 5px;
}

.btn{
    background-color: inherit;
}

.image-container {
    width: 100%;
    height: auto;
}
#img {
    text-align: center;
    background-color: rgba(50, 48, 48, 0.7);
    display: block;
    height: auto;
    border-radius: 5px;
    min-height: 200px;
    box-shadow: $box-shadow;
}

table{
    display: flex;
    justify-content: center;
    border: 0;
    border-collapse: collapse;
}

td{
    border: 0;
    padding: 0;
}

.logo-home{
    max-width: 100px;
    max-height: 100px;
}

@media screen and (max-width: 900px){
    table td{
        display: block;
    }

}

.list-group-item{
    font-family: $title-font;
}

