.navigation {
    justify-content: center;
    margin-top: 2rem;
    padding-bottom: 2rem;
}
.navigation .disabled .page-link {
    opacity: .5;
}
.navigation .page-link, .navigation .disabled .page-link {
    background-color: transparent;
    border: none;
    color: $primary-color;
    padding: 0.75rem;
}
.navigation .active .page-link {
    background-color: transparent;
    border: 1px solid $primary-color;
    color: $primary-color;
}

