<footer class="footer font-small blue bg-muted">

    <div class="footer-copyright text-center py-3"> ©2020 Copyright: Wild Code School |
        <a href="https://www.linkedin.com/in/damien-carli-032588113/" target="_blank">
            <u>Carli Damien</u>
        </a>
    </div>

</footer>
