<div class="col-12 col-sm-3 col-md-3 col-lg-2 sidebar py-2 py-md-3">
    <ul class="nav flex-md-column">
        <li class="nav-item">
            <a class="nav-link text-center" href="{{ path('wild_index') }}" title="Toutes les séries">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-center" href="{{ path('wild_index') }}">Series</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-center" href="{{ path('app_login') }}">Log In</a>
        </li>
    </ul>
</div>

