<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="">
    {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
</head>
<body>
{% include '_navbar.html.twig' %}
<div id="main">
    <div class="container-fluid">
        <div class="row">
            {% include '_sidebar.html.twig' %}
            <div class="col-12 col-sm-9 col-md-9 col-lg-10 py-5 pl-4">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}

</body>

</html>
