<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Wild Series{% endblock %}</title>
    <link rel="icon" href="">
    {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body>
{% include '_navbar.html.twig' %}
<div id="main">

    {% block body %}{% endblock %}
</div>

{% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}

{% include '_footer.html.twig' %}
</body>

</html>
