{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="home-title text-center m-5 blind-mode"><u>Welcome to Wild Series</u></h1>

    <div class="container">
        <div class="row">
            <img class="poster mt-5" src="https://www.francetvinfo.fr/image/75npqxo1g-80ea/1200/450/20565671.jpg" alt="shows">

        </div>
    </div>
{% endblock %}

